<% 
/*
 * USAGE
 * partial('_partials/posts', {
 *     posts: site.posts.limit(theme.recent_posts),
 *     tableConfig: {
 *         // Data table configuration values
 *         // go here.
 *     }
 * })
 * 
 */ 
%>

<table class="posts">
    <% posts.sort('date', -1).forEach((post) => { %>
    <tbody>
        <tr>
            <td rowspan="2" class="posts-date">
                <% // Displayed date %>
                <div><%= moment(post.date).format('MMM DD') %></div>
                <div><%= moment(post.date).format('YYYY') %></div>
            </td>
            <td class="posts-name">
                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
            </td>
            <td class="posts-excerptlarge">
                <% // Excerpt with HTML removed %>
                <%= post.excerpt.replace(/\s*<[^>]+>\s*/g, '') %>
            </td>
        </tr>
        <tr>
            <td class="posts-excerptsmall">
                <% // Excerpt with HTML removed %>
                <%= post.excerpt.replace(/\s*<[^>]+>\s*/g, '') %>
            </td>
        </tr>
    </tbody>
    <% }) %>
</table>