<% /*
    USAGE
    partial('_partials/posts', {
        posts: site.posts.limit(theme.recent_posts),
        tableConfig: {
            // Data table configuration values
            // go here.
        }
    })    
*/ %>

<table class="posts">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </td>
    </thead>
    <tbody>
        <% posts.sort('date', -1).forEach((post) => { %>
        <tr>
            <td>
                <div class="posts-date"><%= moment(post.date).format('MMM DD') %></div>
                <div class="posts-date"><%= moment(post.date).format('YYYY') %></div>
            </td>
            <td>
                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
            </td>
            <td>
                <!-- Excerpt with HTML removed -->
                <%= post.excerpt.replace(/\s*<[^>]+>\s*/g, '') %>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>

<% if (locals.tableConfig) { %>
<script>
    // Apply custom datatable config to the posts table.
    // TODO - Test if this works properly for multiple tables.
    $('table').last().data('tableConfig', <%- JSON.stringify(tableConfig) %>);
</script>
<% } %>