<!--
 Home Top Bar
-->
<div id="top-bar" class="l-home">
    <h1 id="top-bar-title"><%= config.title %></h1>
</div>

<!--
 Floating-Head Menu
-->
<div id="menu-wrapper">
    <div class="row column text-center no-wrap">
        <ul class="menu expanded">
            <li><a class="h1" id="button1" href="<%- url_for('tags/write') %>"><i class="fi-pencil"></i></a></li>
            <li><a class="h1" id="button2" href="<%- url_for('tags/play') %>"><i class="fi-music"></i></a></li>
            <li><a class="h1" id="button3" href="<%- url_for('tags/code') %>"><i class="fi-laptop"></i></a></li>
        </ul>
    </div>
    <div class="row column text-center">
        <img class="align-top" id="face" src="assets/face/idle1.jpg">
    </div>
</div>

<!--
 Recent Posts
-->
<div class="content">
    <div class="callout-header secondary">
        New Stuff
    </div>
    <%-
        partial('_partials/posts', {
            posts: site.posts.limit(theme.recent_posts),
            tableConfig: {
                searching: false,
                paging: false,
                info: false
            }
        })
    %>
</div>