<!--
 Home Top Bar
-->
<div id="top-bar" class="l-home">
    <h1 id="top-bar-title"><%= config.title %></h1>
    <ul class="menu" id="top-bar-search">
        <li><input type="search" placeholder="search all"></li>
    </ul>
</div>

<!--
 Floating-Head Menu
-->
<ul class="menu expanded text-center">
    <li><a id="button1" href="<%- url_for('tags/word') %>" title="word">
        <i class="fi-pencil"></i>
        <span class="small">word</span>
    </a></li>
    <li><a id="button2" href="<%- url_for('tags/sound') %>" title="sound">
        <i class="fi-music"></i>
        <span class="small">sound</span>
    </a></li>
    <li><a id="button3" href="<%- url_for('tags/code') %>" title="code">
        <i class="fi-laptop"></i>
        <span class="small">code</span>
    </a></li>
</ul>
<div id="face-wrapper">
    <img id="face" src="assets/face/idle1.jpg">
    <div id="bubble">
        I'm <a TODO="get link for my bio">Jon Anderson</a>. Found amongst these virtual pages are my creations of word, sound, and code. #Enjoy
        <div id="bubble-arrow">
            <i class="fi-play"></i>
        </div>
    </div>
    <div class="clear-both"></div>
</div>

<!--
 Recent Posts
-->
<article>
    <div class="callout-header secondary">
        New Stuff
    </div>
    <%-
        partial('_partials/posts', {
            posts: site.posts.limit(theme.recent_posts),
            tableConfig: {
                searching: false,
                paging: false
            }
        })
    %>
</article>