<!DOCTYPE html>
<html>
    <head>
        <%- css('css/app.css') %>
        <%- js('js/app.js') %>
        <title><%= config.title %></title>
    </head>

    <!--
     Generate data-page tag for body.
    -->
    <%
        // Get the page type.
        var page = false;
        if (is_home()) {
            page = 'home';
        }
        else if (is_post()) {
            page = 'post';
        }
        else if (is_tag()) {
            page = 'tag';
        }

        // Set the data-page attribute.
        var dataPageTag = '';
        if (page) {
            dataPageTag = 'data-page="'+page+'"'
        }
    %>

    <body <%- dataPageTag %>>

        <!--
         Default top-bar.
         Not used on the home page.
        -->
        <% if (!is_home()) { %>
        <div id="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li>
                        <a href="<%- url_for('') %>">
                            <h1 id="top-bar-title"><%= config.title %></h1>
                        </a>
                    </li>
                    <li>
                        <a href="<%- url_for('tags/write') %>"><i class="fi-pencil"></i></a>
                    </li>
                    <li>
                        <a href="<%- url_for('tags/play') %>"><i class="fi-music"></i></a></i></a>
                    </li>
                    <li>
                        <a href="<%- url_for('tags/code') %>"><i class="fi-laptop"></i></a></i></a>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><input type="search" placeholder="search all posts"></li>
                    <li><button type="button" class="button"><i class="fi-magnifying-glass"></i></button></li>
                </ul>
            </div>
        </div>
        <% } %>

        <%- body %>

    </body>
</html>