<!DOCTYPE html>
<html>
    <head>
        <%- css('css/app.css') %>
        <%- js('js/app.js') %>
        <!-- TODO - User site variable -->
        <title>janderland</title>
    </head>

    <%
        var page = false;
        if (is_home()) {
            page = 'home';
        }
        else if (is_post()) {
            page = 'post';
        }
        else if (is_tag()) {
            page = 'tag';
        }

        var pageData = '';
        if (page) {
            pageData = 'data-page="'+page+'"'
        }
    %>
    <body <%- pageData %>>
        <% if (!is_home()) { %>

        <!--
         Top Bar
        -->
        <div id="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li>
                        <a href="<%= url_for('') %>">
                            <!-- TODO - Use site variable -->
                            <h1 id="title">janderland</h1>
                        </a>
                    </li>
                    <li>
                        <a href="<%= url_for('tags/write') %>"><i class="fi-pencil"></i></a>
                    </li>
                    <li>
                        <a href="<%= url_for('tags/play') %>"><i class="fi-music"></i></a></i></a>
                    </li>
                    <li>
                        <a href="<%= url_for('tags/code') %>"><i class="fi-laptop"></i></a></i></a>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><input type="search" placeholder="search"></li>
                    <li><button type="button" class="button">search</button></li>
                </ul>
            </div>
        </div>

        <% } %>

        <%- body %>
    </body>
</html>