<!DOCTYPE html>
<html>
    <head>
        <%- partial('_partials/common_css') %>
        <title><%= page.title %></title>
    </head>
    <body>
        <!-- top bar -->
        <% if (!is_home()) { %>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li>
                        <a href="<%= url_for('') %>"><h1>janderland</h1></a>
                    </li>
                    <li>
                        <a href="<%= url_for('tags/write') %>"><i class="fi-pencil"></i></a>
                    </li>
                    <li>
                        <a href="<%= url_for('tags/play') %>"><i class="fi-music"></i></a></i></a>
                    </li>
                    <li>
                        <a href="<%= url_for('tags/code') %>"><i class="fi-laptop"></i></a></i></a>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><input type="search" placeholder="search"></li>
                    <li><button type="button" class="button">search</button></li>
                </ul>
            </div>
        </div>
        <% } %>

        <%- body %>

        <%- partial('_partials/common_js') %>
    </body>
</html>