<!DOCTYPE html>
<html>
    <head>
        <%- css('css/app.css') %>
        <%- js('js/app.js') %>
        <title><%= config.title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <%
        // Get the page type.
        var page = false;
        if (is_home()) {
            page = 'home';
        }
        else if (is_post()) {
            page = 'post';
        }
        else if (is_tag()) {
            page = 'tag';
        }
        else if (path === 'search.html') {
            page = 'search';
        }

        // Set the data-page attribute.
        var dataPageTag = '';
        if (page) {
            dataPageTag = 'data-page="'+page+'"'
        }
    %>
    <body <%- dataPageTag %>>
        <% if (!is_home()) { %>
        <!--
         Default top-bar
        -->
        <div id="top-bar">
            <div class="top-bar-left">
                <ul class="menu" id="top-bar-menu">
                    <li>
                        <a href="<%- url_for('') %>">
                            <h1 id="top-bar-title"><%= config.title %></h1>
                        </a>
                    </li>
                    <li>
                        <a href="<%- url_for('tags/write') %>" title="write"><i class="fi-pencil"></i></a>
                    </li>
                    <li>
                        <a href="<%- url_for('tags/play') %>" title="play"><i class="fi-music"></i></a></i></a>
                    </li>
                    <li>
                        <a href="<%- url_for('tags/code') %>" title="code"><i class="fi-laptop"></i></a></i></a>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu" id="top-bar-search">
                    <li class="menu-text">
                        <input type="search" placeholder="search all">
                    </li>
                </ul>
            </div>
        </div>
        <% } %>
        
        <%- body %>
    </body>
</html>