<!DOCTYPE html>
<html>
    <head>
        <%- partial('_partials/css') %>

        <!--
         Get Title
        -->
        <%
            var title = ''
            if (page.title) {
                title = page.title+'|'
            }
            title += 'janderland'
        %>
        <title><%= title %></title>
    </head>
    <body>
        <!--
         Top Bar
        -->
        <% if (!is_home()) { %>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><%- link_to('', 'janderland') %></li>
                    <li><a href='#'><i class="fi-pencil"></i></a></li>
                    <li><a href='#'><i class="fi-music"></i></a></li>
                    <li><a href='#'><i class="fi-laptop"></i></a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><input type="search" placeholder="search"></li>
                    <li><button type="button" class="button">search</button></li>
                </ul>
            </div>
        </div>
        <% } %>

        <!--
         Main Content
        -->
        <%- body %>

        <!--
         JavaScript
        -->
        <%- partial('_partials/js') %>
    </body>
</html>