<article>
        <header>
            <h1><%= page.title %></h1>

            <div class="small">
                <%= moment(page.updated).format('MMMM D, YYYY') %>
            </div>

            <!--
             Tags
            -->
            <div>
                <% page.tags.forEach((tag, i) => { %>
                <div class="tag">
                    <a href="<%= url_for(tag.path) %>">
                        <%= tag.name %>
                    </a>
                </div>
                <% }) %>
                <div class="clear-both"></div>
            </div>

            <hr>
        </header>
        
        <%- page.content %>
</article>